.foto{
    float:middle;
    }

.gegevens{
        background-color:  #f0f0f0;
        margin: auto;
        height:800px;
        }
        @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
        body{
            background-color: rgb(231, 231, 231);
            
            }
            .footer{
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: black;
                color: white;
                text-align: center;
            }
.font1{
font-size:xx-large;
    font-weight:100;
}

#cirkelcontainer {
    width: 100%;
    height: 75vh;

}
#cirkel {
    width: 100%;
    height: 75vh;
    background-image: url("../images/overonsimage.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
}
.quote {
    z-index: 10;
    color: rgb(0, 0, 0) !important;
    text-align: center;
    font-size: 5vh;
    position: relative;
    top: 20%;
    padding: 1vh .2vh 1vh 0.2vh !important;
}
.h2Quote {
    z-index: 10;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3vh;
    position: relative;
    top: 20%;
    padding: 1vh .2vh 1vh 0.2vh !important;
}

.h3 {
   color: black;
   text-align: center; 
   font-size:xx-large;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}