body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
    padding: 0 1.5px;
}

.slider {
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post{
    background-color: #748da2;
    display: flex;
    align-items: center;
}

.slider{
    width: 300px;
    height: 200px;
    border-radius: 300px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 300px;
    height: 300px;
 
}

.navigation-manual{
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}
.blog-post__merk{
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffff;
}
.blog-post__naam{
    font-size: 2.5rem;
    text-transform: lowercase;
    color: #ffff;
}

.blog-post__prijs{
    font-size: 2rem;
    color: #fff;
}

.blog-post__kleur{
    font-size: 1.4rem;
    color: #fff;
}

.blog-post__kilometerstand{
    font-size: 1.4rem;
    color: #fff;
}

.blog-post__paardenkracht{
    font-size: 1.4rem;
    color: #fff;
}

.blog-post__bouwjaar{
    font-size: 1.4rem;
    color: #fff;
}

.blog-post__brandstof{
    font-size: 1.4rem;
    color: #fff;
}



@media screen and (max-width: 1068px) {
    .blog-post{
        max-width: 40rem;
    }

    .blog-post__img {
        min-width: 10rem;
        max-width: 10rem;
    }
}

@media screen and (max-width: 868px) {
    .blog-post{
        max-width: 50rem;
    }
}


@media screen and (max-width: 768px) {
    .blog-post{
        flex-direction: column;
    }


}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }