.randje{
width: 500px;
height: 300px;
background-color:  #c8cbec ;
}


  
.submit{
        width: 100%;
        background-color: #198754;
        color: white;
        padding: 20px 30px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
