body{
    background: url('../img/img.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
  }

#bedankt{
    color: #fff;
    margin-top: 410px;
    font-size: 40px;
    text-decoration: none;
    margin-left: 740px;
    margin-right: 70px;
    float: left;
}