.loginstyle{
        width: 1550px;
        height: 1550px;
        background-color: #0f132e;
}

.form1{
text-align: left;
}
.center{
float:left;
}
.center2{
    float:right;
    }
    .test{
        position:absolute;
        top: 123px;
        margin: auto;
        width: 100%;
    }
    body{
        
                overflow: hidden; /* Hide scrollbars */
              
    }